lib
esm
coverage
node_modules
npm-debug.log*
lerna-debug.log
yarn-error.log
package-lock.json
yarn.lock
__snapshots__
build

Gemfile.lock

.DS_Store
.cache
.vscode
.idea

*.mpassword
*.bak
*.tem
*.temp
#.swp
*.*~
~*.*

# IDEA
*.iml
*.ipr
*.iws
.idea/
.swc